* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
	max-width: 767px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
    padding: 50px;
    text-align: center;
}
.card1 h3, .card2 h3{
    background: darkcyan;
    padding: 30px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    grid-template-areas: 
      "card1"
      "card2";
  }
  
  .card1 {
    grid-area: card1;
    width: 400px; height: 200px; background-color: rgba(0, 0, 0, 0.5); 
    
  }
  
  .card2 {
    grid-area: card2;
    width: 400px; height: 200px; background-color: rgba(0, 0, 0, 0.5); 
  }

p {
    padding-left: 50px;
}



nav {
	background-color: darkblue;
	margin: 0 auto;
	max-width: 770px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    color: burlywood;
}

nav a:hover {
	border: 1px solid #fff;
    background: red;
}

#lastModified {
	color: yellow;
    text-align: center;
    position: relative;
    top: -20px;
}
footer {
    text-align: center;
    background: darkcyan;
    padding: 30px;
}
footer img {
    margin-left: 330px;
    position: relative;
    top: -30px;
}
